[submodule "themes/hugo-theme-air"]
	path = themes/hugo-theme-air
	url = https://github.com/syui/hugo-theme-air
[submodule "themes/HugoTheme-VibrantShadows"]
	path = themes/HugoTheme-VibrantShadows
	url = https://github.com/Softorage/HugoTheme-VibrantShadows.git
